alembic==1.13.1 
celery==5.3.6 
fastapi==0.110.0
uvicorn==0.28.0
httpx==0.27.0
python-dotenv==1.0.1
pydantic==2.6.3
sqlalchemy==2.0.28
psycopg2==2.9.9
pydantic-geojson==0.1.1 
redis==5.0.2 
contextlib2==21.6.0 
pytest==8.1.1 
